<h2>Contact Us</h2>
<p>
Mohamed Omar, MD <br>
Assistant Professor <br>
Department of Computational Biomedicine <br>
Department of Urology <br>
Cedars-Sinai <br>
<br>
Email: <a href="mailto:Mohamed.Omar@csmc.edu">Mohamed.Omar@csmc.edu</a> <br>
<br>
700 N. San Vicente Blvd, G-540 <br>
Pacific Design Center <br>
West Hollywood, CA 90069 <br>
</p>

<p>
 <h3> Interested in joining the Omar lab? </h3>
 We are always looking for motivated and talented people. <b>Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>
<p>
  
<!--
<p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">lab compact and philosophy</a></h3>
</p>
-->

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
